:root {
  --jblack: #1e1d20;
  --jdarkgray: #333333;
  --jgray: #d6d6d6;
  --jblue: #0571e3;
  --jdarkblue: #01448b;
  --jdarkred: #bb8482;
  --jdarkgreen: #91bd83;
  --jdarkyellow: #b0ba53;
  --jwhite: #fbfbfd;
  --joffwhite: #f5f5f7;
  font-family: helvetica, Arial, sans-serif;
}

body {
  color: var(--jdarkgray);
  font-size: 16px;
  line-height: 1;
}

.navbar-custom {
  background-color: var(--joffwhite);
}

#currentDate {
  color: var(--jdarkgray)
}

.jumbotron {
  text-align: center;
  background-color: var(--joffwhite);
  color: var(--jblack);
  border-radius: 0;
  border-bottom: 10px solid var(--jblack);
}

.time-row{
  text-align: center;
}

.afterHour .time-content {
  background-color: var(--jdarkred);
}

#currentHour {
  background-color: var(--jdarkyellow);
}

.beforeHour .time-content {
  background-color: var(--jdarkgreen);
}

.time-content{
  border: 1px solid var(--jblack);
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  resize: none;
  color: var(--jblack);
  border-left: 1px solid var(--jblack);
  padding: 10px;
}

.row {
  white-space: pre-wrap;
  height: 90px;
}

.hour {
  padding-top: 1%;
  background-color: var(--jgray);
  color: var(--jblack);
  border-top: 1px solid var(--jdarkgray);
  border-bottom: 1px solid var(--jdarkgray);
  border-right: 1px solid var(--jdarkgray);
}

.hour:hover {
  cursor:default;
}

.saveBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: var(--jblack);
  color: var(--jwhite);
}

button {
  appearance: none;
  border-width: 0px;
}

button:hover{
  cursor: pointer;
  background-color: var(--jwhite);
  color: var(--jblack);
  border: 1px solid var(--jdarkgray);
}

button:active {
  background-color:var(--jdarkgray);
}